# Copy this file to /etc/systemd/system
# https://unixcop.com/how-to-create-a-systemd-service-in-linux/
# to enable: sudo systemctl enable launcher.service

[Unit]
Description=Osgar launcher service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u kloubak/system/launcher_jetson.py
WorkingDirectory=/home/jetson/git
StandardOutput=inherit
StandardError=inherit
Restart=always
User=jetson

[Install]
WantedBy=multi-user.target
